      <header>
      <div class="testLogo">
        <a href="#">
          <img src="images/Lineage_OS_Logo.png" alt="LOGO" width="100" height="50">
        </a>
      </div>
      <div class="container" id="container" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <ul class="navbar" id="navbar">
        <a href="/">	<li>&#127968;&nbsp;Home</li></a>
        <li><a>&#10068;&nbsp;About us</a>
          <ul>
            <li><a>&#128444;&nbsp;Gallery</a></li>
            <li><a>&#x2610;&nbsp;Our Products</a></li>
            <li><a>&#9937;&nbsp;Our Team</a></li>
            <li><a>&#9743;&nbsp;Contact us</a></li>
          </ul>
        </li>
        <li><a>&#x2630;&nbsp;Profile</a></li>
        <li onclick="openForm()"><a>&#x27B2;&nbsp;Login</a></li>
      </ul>
      <div id="care">
        <button type="button" name="button" id="butn" onclick="myFunction2(this)">&#8981;</button>
        <div class="dropdown" id="dropdown">
          <input type="text" name="search" placeholder="Search here.." id="searchabaleWidget"/>
          <span class="search-icon">&#8981;</span>
        </div>
      </div>
    </header>