<div class="hero" id="popup-1">
		<div class="form-box">
			<div class="close-btn" onclick="closeForm()" style="position:relative, left:50px;">&#10005</div>
			<div class="button-box">
				<div id="btn"></div>
				<button type="button" class="toggle-btn" onclick="login()">Log In</button>
				<button type="button" class="toggle-btn" onclick="register()">Register</button>
			</div>
		
			<div class="soical-icons">
				<a href="#"><i class="fa fa-facebook-square  fa-6"></i></a>
				<a href="#"><i class="fa fa-google-plus-square fa-6"></i></a>
				<a href="#"><i class="fa fa-twitter-square fa-6"></i></a>
			</div>

			<form id="login" class="input-group">
				<input type="text" class="input-field" placeholder="User Id" required />
				<input type="text" class="input-field" placeholder="Enter Password" required />
				<input type="checkbox" class="check-box" /><span>Remember Password</span>
				<button type="submit" class="submit-btn">Log In</button>
			</form>

			<form id="register" class="input-group">
				<input type="text" class="input-field" placeholder="User Id" required />
				<input type="email" class="input-field" placeholder="Enter Email" required />
				<input type="text" class="input-field" placeholder="Enter Password" required />
				<input type="checkbox" class="check-box" /><span>I agree to the terms & conditions</span>
				<button type="submit" class="submit-btn">Register</button>
			</form>
		</div>
	</div>