
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/head.css"/>
	<link rel="stylesheet" href="css/home.css"/>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- <script></script> -->
	<style>
	.hero {
	display: none;
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(bg.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
	z-index: 9;
}
	</style>
  </head>
  <body>
  {{>header}}
  {{>Login}}
	<div id="main">
  
		<div class="box" id="test">

		  <div id="chartdiv"></div>
		  <h1>Engine RPM</h1>
		</div>
		
		<div class="box" id="test1">
		  <h2>20&#xb0;C</h2>
		  <div class="gauge-wrap" data-value={{p_value}}></div>
		  <h1>Coolent Temp</h1>
		</div>
		
		<div class="box" id="test2">
		  <h2>10.00 Volts</h2>
		  <div class="gauge-wrap" data-value={{p_value1}}></div>
		  <h1>Battery Voltage</h1>
		</div>
		
		<div class="box" id="test3">
		  
		  <div class="gauge-wrap" data-value="50"></div>
		  <h1>Engine Load</h1>
		</div>
		
		<div class="box" id="test4">
			
		  <div id="chartdiv1"></div>
		  <h1>Fuel Consumed</h1>
		</div>
		
		<div class="box" id="test5">
		  <h2>80 %</h2>
		  <div class="gauge-wrap" data-value="60"></div>
		  <h1>Fuel Level</h1>
		</div>
		
		<div class="box" id="test6">
		  <h2>25<br>KMPH</h2>
		  <div class="gauge-wrap" data-value="55"></div>
		  <h1>Vehicle Speed</h1>
		</div>
		
		<div class="box" id="test7">
		  
		  <div id="chartdiv2"></div>
		  <h1>MAF Sensor Air Flow Rate</h1>
		</div>
		
		<div class="box" id="test8">
		  <h2>Idle<br>Position</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Throttle Position</h1>
		</div>

		<div class="box" id="test9">
		  <h2>2.5 Hours</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Time Run with MIL on</h1>
		</div>

		<div class="box" id="test10">
		  <h2>20&#xb0;C</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Intake Air Temperature</h1>
		</div>

		<div class="box" id="test11">
		  <h2>45 psi</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Fuel Pressure</h1>
		</div>

		<div class="box" id="test12">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Commanded EGR</h1>
		</div>

		<div class="box" id="test13">
		  <h2>2 %</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>EGR Error</h1>
		</div>

		<div class="box" id="test14">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Commanded Evaporative Purge</h1>
		</div>

		<div class="box" id="test15">
		  <h2>22<br>Warmups</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Number of Warmups since<br>DTC Cleared</h1>
		</div>

		<div class="box" id="test16">
		  <h2>220 Kms</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Distance traveled since DTC Cleared</h1>
		</div>

		<div class="box" id="test17">
		  <h2></h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Evap. System Vapor Pressure</h1>
		</div>

		<div class="box" id="test18">
		  <h2>22 in. Hg</h2> 
		  {{!-- For Ford Vehicles --}}
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Barometric Pressure</h1>
		</div>

		<div class="box" id="test19">
		  <h2>13.1 Volts</h2>
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Control Module Voltage</h1>
		</div>

		<div class="box" id="test20">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Monitor Status This Drive Cycle</h1>
		</div>

		<div class="box" id="test21">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Absolute Load Value</h1>
		</div>

		<div class="box" id="test22">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Commanded Equivalence Ratio</h1>
		</div>

		<div class="box" id="test23">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Relative Throttle Position</h1>
		</div>

		<div class="box" id="test24">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Ambient Air Temperature</h1>
		</div>

		<div class="box" id="test25">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Commanded Throttle Actuator</h1>
		</div>

		<div class="box" id="test26">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Time Run with MIL on</h1>
		</div>

		<div class="box" id="test27">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Time Since DTC Cleared</h1>
		</div>

		<div class="box" id="test28">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Maximum MAF Airflow Value</h1>
		</div>

		<div class="box" id="test29">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Fuel Type</h1>
		</div>

		<div class="box" id="test30">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Ethanol fuel %</h1>
		</div>

		<div class="box" id="test31">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Engine Oil Temperature</h1>
		</div>

		<div class="box" id="test32">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Fuel Injection Timing</h1>
		</div>

		<div class="box" id="test32">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Engine Fuel Rate</h1>
		</div>

		<div class="box" id="test33">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>Actual Engine Torque - Percent</h1>
		</div>

		<div class="box" id="test34">
		  
		  <div class="gauge-wrap" data-value="90"></div>
		  <h1>EGR Temperature</h1>
		</div>
	  </div>  
    <script src="js/indexx.js"></script>
    <script src="js/index.js"></script>
	<script src="js/graphs.js"></script>
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
	<script src="js/graphs.js"></script>
	<script>
	var x = document.getElementById("login");
	var y = document.getElementById("register");
	var z = document.getElementById("btn");

	function register() {
		x.style.left = "-400px";
		y.style.left = "50px";
		z.style.left = "110px";
	}

	function login() {
		x.style.left = "50px";
		y.style.left = "450px";
		z.style.left = "0";
	}
    function openForm() {
	document.getElementById("popup-1").style.display = "block";
	}

	function closeForm() {
	document.getElementById("popup-1").style.display = "none";
	}
	</script>
  </body>
</html>